.App {
  text-align: center;
}

.card,
.card-img-top {
  border-radius: 0;
}

.card-body {
  z-index: 99999;
}

.card {
  transition: all .2s ease-in-out;
}


.card:hover {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
  transform: scale(1.02);
  z-index: 99999;
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 2
  }
}


a,
a:hover {
  text-decoration: none;
  color: inherit;
}


@media (min-width: 1300px) {
  .card-columns {
    column-count: 3
  }
}