.App {
  text-align: center;
}

.card,
.card-img-top {
  border-radius: 0;
}

.card-body {
  z-index: 999;
}

.card {
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.modal {
  padding: 16px;
  z-index: 9999;
}

/* .modal-header {
  border-bottom: transparent
} */

button.close {
  position: absolute;
  padding: 20px;
  right: 0;
  z-index: 999999999;
  line-height: 0.4
}

.card:hover {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
  transform: scale(1.02);
  z-index: 9;
}

.modal-body {
  padding: 0;
  background-color: black
}

.arrow {
  transition: transform 0.3s;
}

.arrow-turn {
  transform: rotate(90deg)
}

.list-group-item.d-flex {
  cursor: pointer
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 2
  }

  .modal-dialog {
    max-width: 1200px;
  }
}


a,
a:hover {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 1300px) {
  .card-columns {
    column-count: 3
  }
}